Librerías y configuraciones

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import ast

# Establecer la opción para mostrar todas las columnas
pd.set_option('display.max_columns', None)

Carga de datos

In [7]:
estrenos_por_dia_df = pd.read_csv('data\data_processed\estrenos_por_dia_df.csv',low_memory=False)
estrenos_por_mes_df = pd.read_csv('data\data_processed\estrenos_por_mes_df.csv',low_memory=False)

In [8]:
estrenos_por_dia_df

  dia_de_estreno_nombre  cant_de_estrenos
0               viernes             13696
1                jueves              7392
2             miércoles              6918
3                sábado              5090
4                martes              4570
5               domingo              3559
6                 lunes              3442

In [9]:
estrenos_por_mes_df

    mes_de_estreno_num mes_de_estreno_nombre  cant_de_estrenos
0                    1                 enero              5780
1                    9            septiembre              4761
2                   10               octubre              4547
3                   12             diciembre              3718
4                   11             noviembre              3609
5                    3                 marzo              3496
6                    4                 abril              3402
7                    8                agosto              3340
8                    5                  mayo              3313
9                    6                 junio              3105
10                   2               febrero              2982
11                   7                 julio              2614

In [20]:
# Convertimos el DataFrame a un diccionario para búsqueda rápida
dia_dict = estrenos_por_dia_df.set_index('dia_de_estreno_nombre')['cant_de_estrenos'].to_dict()

def peliculas_dia(dia_de_la_semana):
    '''Se ingresa el mes y la funcion retorna la cantidad de peliculas que 
    se estrenaron ese mes (nombre del mes, en str, ejemplo 'enero') historicamente''' 
    
    assert dia_de_la_semana in ['lunes','martes','miercoles','jueves', 'viernes', 'sabado', 'domingo'], f'Debe ingresar el nombre del día en español(sin tilde). Ej: "miercoles"'
    
    respuesta = dia_dict[dia_de_la_semana]
    
    return {'dia_de_la_semana': dia_de_la_semana, 'cantidad': respuesta}

# Ejemplo de uso
print(peliculas_dia('lunes'))

{'mes': 'lunes', 'cantidad': 3442}

In [21]:
# Convertimos el DataFrame a un diccionario para búsqueda rápida
mes_dict = estrenos_por_mes_df.set_index('mes_de_estreno_nombre')['cant_de_estrenos'].to_dict()

def peliculas_mes(mes):
    '''Se ingresa el mes y la funcion retorna la cantidad de peliculas que 
    se estrenaron ese mes (nombre del mes, en str, ejemplo 'enero') historicamente''' 
    
    respuesta = mes_dict[mes]
    return {'mes': mes, 'cantidad': respuesta}

# Ejemplo de uso
print(peliculas_mes('octubre'))

{'mes': 'octubre', 'cantidad': 4547}